<%= render 'partials/navbar' %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1> Showing results for election of <%= @year %></h1>
			<a class="btn btn-primary btn-md" href="<%= root_path %>" role="button">Try a different query!</a>
		</div>
	</div>
</div>


<%= render 'partials/footer' %>