<footer class="website-footer">
	<div class="container footer-text">
		<div class="row">
			<div class="col-md-4">
				<p class="">Made with <i class="fa fa-heart"></i> by Abhas &amp; Azam</p>
			</div>

			<div class="col-md-offset-4 col-md-4 social-links">
				<a class="footer-link" href="#" style="padding-right: 17px; float: right;"><i class="fa fa-github"></i></a>
				<a class="footer-link" href="#"><i class="fa fa-stack-overflow" style="padding-right: 17px; float: right;"></i></a>
				<a class="footer-link" style="padding-right: 17px; float: right;"><i class="fa fa-envelope" data-toggle="tooltip2" data-placement="top" title="abhas.aryaa@gmail.com"></i></a>
			</div>
		</div>
	</div>
</footer>

<script>
$(function () {
  $('[data-toggle="tooltip2"]').tooltip()
})
</script>