// Place all the styles related to the Query controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nominee-results {
	margin-top: 5%;
	margin-bottom: 5%;
}

.nominee-results2 {
	margin-top: 3%;
	margin-bottom: 7%;
}

.query-container {
	margin-top: 2%;
	margin-bottom: 5%;
}

.query-thead {
	background-color: #3071A9;
	color: #FFFFFF;
}

.fa-trophy {
	color: #FFB804;
}

.try-another {
	margin-top: 3%;
}

.poll-table {
	margin-bottom: 5%;
}

.query-thead2 {
	background-color: #EF5350;
	color: #FFFFFF;
}

.swing-table {
	
}